<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Nombre del país en ingles</ion-label>
    <ion-input [(ngModel)]="countryName" type="text"></ion-input>
  </ion-item>
  <ion-button (click)="searchUniversities()">Buscar Universidades</ion-button>

  <ion-list *ngIf="universities.length > 0">
    <ion-item *ngFor="let university of universities">
      <ion-label>{{ university.name }}</ion-label>
      <ion-label>{{ university.domains[0] }}</ion-label>
      <a [href]="university.web_pages[0]" target="_blank">{{ university.web_pages[0] }}</a>
    </ion-item>
  </ion-list>
</ion-content>
