<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>acerca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-img class="my-photo" src="assets/foto.jpg"></ion-img>
      <ion-list>
        <ion-item>
          <ion-label>Nombre:</ion-label>
          <ion-text>Eimy L. Figueroa Ramirez</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Email:</ion-label>
          <ion-text>eimylaurafigueroa@gmail.com</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Teléfono:</ion-label>
          <ion-text>829-331-9177</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
